@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.background-container {
  background-color: #1743c9;
  height: 100vh;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.ui-container {
  background-color: #fff;
  opacity: 90%;
  width: 100%;

  border: 0;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.login-container {
  background-color: #ffd4d2;

  border: 0;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 45%;
}

input.login-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

input.login-input ::placeholder {
  color: #999;
}

button.login-button {
  margin: 10px 0px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  width: 100px;
  font-size: 16px;
  background: black;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 3%;
}

h3#SignUp {
  cursor: pointer;
}

h3#SignUp:hover {
  color: blue;
}
